services:
  app-local:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: atm-blue-node-local
    ports:
      - "3001:3000"
    env_file:
      - .env
    volumes:
      - .:/app
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
